@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200&family=Fredericka+the+Great&family=Open+Sans:ital,wght@1,500&family=Pushster&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
 }

 body{
    background-image: url('../img/Nike-Free-Hyperfeel-on-display_hd_1600.jpg');
 }

.home a:hover{
    color: #E3BE19;
}

.sea a:hover{
    color: #FF5403;
}


.topic{
    font-family: 'Pushster', cursive;
    margin-left: 630px;
    position: absolute;
    font-size: 4em;
    margin-top: -65px;
    background-image: linear-gradient(to left,  #E3BE19, #FF5403);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.form{
    text-align: center;
    margin-top: 90px;  
    color: white;
    font-size: 1.1em;
    
}

#slider-range{
    width: 35%;
    margin-left: 32%;
    background-image: linear-gradient(to left,  darkblue, blue);
}

#Search{
    margin-top: 2%;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

#Search:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.item_img{
    background-image: url("../img/-10840693101059354775.jpg");
    width: 100%;
    height: 700px;
    opacity: 0.8;
    filter: blur(7px);
}

.type{
    margin-top: 100px;
    padding: 10px 10px 10px 10px ;
    font-size: 20px;
    border: 5px solid lightslategray;
    width: 550px;
    margin-left: 30%;
}

.See-button{
    border-radius: 4px;
    background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
}
.See-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
.See-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.See-button:hover span {
    padding-right: 25px;
}
.See-button:hover span:after {
    opacity: 1;
    right: 0;
}



.form h2{
    color: darkblue;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
